model_config_list {
    config: {
        name: "DistilBERTEmotions",
        base_path: "/models/DistilBERTEmotions/"
        model_platform: "tensorflow"
    }
	config: {
        name: "ArithmeticOCR",
        base_path: "/models/ArithmeticOCR/"
        model_platform: "tensorflow"
    }
    config: {
        name: "LSTMSentiment",
        base_path: "/models/LSTMSentiment/"
        model_platform: "tensorflow"
    }
    config: {
        name: "SpeechDigits",
        base_path: "/models/SpeechDigits/"
        model_platform: "tensorflow"
    }

}